body {
  font-family: 'Courier New', Courier, monospace;
}

.big-button {
  width: 100px;
  height: 100px;
  border: none;
  position: relative;
}
.big-button:hover {
  border: 1px solid saddlebrown;
}
.big-button:active {
  top:1px;
  left:1px;
}

#button {
  color: royalblue;
  background: lightgreen;
}

#reset {
  color: royalblue;
  background: lightcoral;
}

.start-button, .stop-button {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 7px;
}

.timer-warpper {
  font-size: 2rem;
  position: relative;
  text-decoration: none;
}
.timer {
  display: inline-block;
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
}

.start-button {
  background: lightgreen;
}
.stop-button {
  background: firebrick;
}
